<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <title>CheeriMon</title>
</head>

<nav class="navbar navbar-light"></nav>

<body>
    <nav class="color-theme">
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Saved Articles</a>
                </li>
            </ul>
            <a href="#" class="brand-logo center">CheeriMon</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="#">Scrape new articles</a>
                </li>
                <li>
                    <a href="#">Clear saved</a>
                </li>
            </ul>
        </div>
    </nav>



    <section class="main container text-center">
        <div class="overlay"></div>
        <div class="background-image"></div>
        <!-- <img src="./Assets/images/newspapers.jpg" class="bg"> -->
        <div class="caption">
            <h1 id="mainText">Get with the times!</h1>
            <h2 id="subText">Without getting the Times!</h2>
        </div>
    </section>
    <br>
    <br>

    <div class="row">
        <div class="col s12 m6 push-m3">
            <div class="card no-article-card">
                <div class="card-content white-text">
                    <span class="card-title">OH NO!</span>
                    <p>You haven't requested any articles yet!</p>
                    <p>What would you like to do?</p>
                </div>
                <div class="card-action">
                    <a href="#">Get the latest news?</a>
                    <a href="#">Go to your saved articles?</a>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Card Title</span>
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
                        require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Card Title</span>
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
                        require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Card Title</span>
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
                        require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Card Title</span>
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
                        require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>

    </div>


    {{{ body }}}
    <footer class="page-footer color-theme">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text bottom-space">CheeriMon</h5>
                <p class="bottom-space">© 2018</p>
            </div>
        </div>
        </div>
        <div class="footer-copyright">
        </div>
    </footer>

    <script src="Assets/JS/interactive.js"></script>
</body>

</html>